<div class="[ container ]">
  <h1 class="[ dashboard__header ]">Magic the gathering cards page</h1>
  <p class="[ dashboard__text ]">Searh bar: ________ </p>

  
  <div class="[ row ]">
    <div class="[ col-sm-4 ][ cards__container ]" *ngFor="let myCard of mtgCardsArray">
      <div class="[ cards ]">
          <h3 class="[ cards__heading ]">{{myCard.name}}</h3>
          <img class="[ cards__image img-fluid ]" src="{{myCard.imageUrl}}"/><br>
          <a class="[ cards__button ]" href="/cardspecific/{{myCard.id}}">View more</a>
        </div>
    </div>
  </div>

</div>