<app-header></app-header>
<div class="[ container ]">
  <h1 class="[ header ]">Magic the gathering cards page</h1>
  
  <!--Search-->
  <div class="[ search ]">
    <h3 class="[ search__heading ]">Search for your hero:</h3>
    <input class="[ search__input ]" (keyup)="applyFilter($event.target.value);">

  </div>

  <!--card display-->
  <div class="[ row ]">
    <div class="[ col-lg-4 col-md-6 ][ cards__container ]" *ngFor="let myCard of searchArray">
      <div class="[ cards ]">
          <h3 class="[ cards__heading ]">{{myCard.name}}</h3>
          <img class="[ cards__image img-fluid ]" src="{{myCard.imageUrl}}" onError="this.src='./../../assets/images/placeholder-img.png'"/><br>
          <a class="[ cards__button ]" href="/cardspecific/{{myCard.id}}">View more</a>
        </div>
    </div>
  </div> 

</div>
<app-footer></app-footer>