.toggle{
    &__click{
        background-color: orange;
        padding: 5px;
        :hover{
            cursor: pointer;
        }
        &--text{
            margin: 0;
        }
    }
    &__content{
        border: 1px solid lightgrey;
        &--text{
            padding: 40px 0 0;
        }
    }
}