<app-header></app-header>
<div class="[ container ]">
    <div class="[ col-md-8 ]">
        <h1 class="[  ]">About page</h1>
        <p>Magic: The Gathering (colloquially known as Magic cards or just Magic) is both a collectible and digital collectible card game created by Richard Garfield. <br>Released in 1993 by Wizards of the Coast, Magic was the first trading card game and has approximately twenty million players  and over twenty billion Magic cards produced in the period from 2008 to 2016 alone.</p>
    </div>
    <div class="[ col-md-8 ][ toggle__click ]" (click)="isFoo = !isFoo" >
        <div class="[ row ]">
            <div class="[ col-10 ]">
                    <p class="[ toggle__click--text ]">How to defeat your opponent</p>
            </div>
            <div class="[ col-2 ]">
                    <i class="[ toggle__click--icon ][ fas fa-chevron-down ]"></i>
            </div>
        </div>
    </div>
        
    <div class="[ col-md-8 ][ toggle__content ]" *ngIf="isFoo" >
        <p class="[ toggle__content--text ]">Each players starts the game with 20 life. Knock your opponent down to 0 life, and you win. The most common way to do this is to summon creatures and attack with them.</p>
        <p class="[ toggle__content--text ]">Creature cards are the most important of many Something decks. Theyre really easy to spot--just look at the lower right of a card. If you see a pair of numbers seperated by a stash youve got a creature card. Once its on the battlefield, a creature continues to attack and defend for you until your opponent can find a way to take it out.</p>
        <p class="[ toggle__content--text ]">Most games become a race to see who can deal with most damage first. Summoning the best creatures would help you win that race every time. Check out the section on casting creature spells.</p>
    </div>
    
</div>

<app-footer></app-footer>