.cards {
    margin: 20px;
    border: 2px solid black;
    box-shadow: 5px 5px rgba(0,0,0, .3);
    padding: 40px 20px;
    &__image{

    }
    &__text{
        &--strong{
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}