<nav class="[ navbar navbar-expand-lg navbar-light bg-light ][ navigation ]">
  <a class="[ navbar-brand ][ navigation__brand ]" href="/dashboard">
    <img class="[ navigation__brand--image ]" src="../../assets/images/mtg-logo.png" width="250px" alt="">
  </a>
  <button class="[ navbar-toggler ][ navigation__hamburger ]" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="[ navbar-toggler-icon ][ navigation__hamburger--icon ]"></span>
  </button>

  <div class="[ collapse navbar-collapse ][ navigation__collapse ]" id="navbarSupportedContent">
    <ul class="[ navbar-nav ml-auto ][ navigation__nav ]">
      <li class="[ nav-item ][ navigation__item ]"> 
        <a class="[ nav-link ][ navigation__item--link ]" href="/dashboard">Home</a>
      </li>
      <li class="[ nav-item ][ navigation__item ]">
        <a class="[ nav-link ][ navigation__item--link ]" href="/about">About</a>
      </li>
      <li class="[ nav-item ][ navigation__item ]">
        <a class="[ nav-link ][ navigation__item--link ]" href="/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>
