/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Cardo|Markazi+Text:700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');
$source-sans-pro: 'Source Sans Pro', sans-serif;
$markazi: 'Markazi Text', serif;


h1 {
    text-transform: uppercase;
    margin-bottom: 7%;
    font-size: 3em;
    font-family: $markazi;
    @media screen and (max-width: 350px){
        font-size: 2.5em;
    }
}

h2{
    font-family: $markazi;
    text-transform: uppercase;
    margin-bottom: 5%;
    font-size: 2.7em;
}
h3{
    font-family: $markazi;
    font-size: 1.8em;
}

p{
    font-family:  $source-sans-pro;
}

a{
    font-family: $source-sans-pro;
}

.container{
    margin-top: 5%;
    margin-bottom: 10%;
}
