@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');
$source-sans-pro: 'Source Sans Pro', sans-serif; 
.jumbotron{
    background-color: white;
    border: 2px solid black;
    box-shadow: 5px 5px rgba(0,0,0, .3);
}
label{
    font-family: $source-sans-pro;
    font-weight: 600;
}
.form-control{
    font-family: $source-sans-pro;
    border-radius: 2px;
    border: 2px solid black; 
    background-color: white;
}

.alert-danger{
    font-family: $source-sans-pro;
    padding: 6px 12px;
    border: none;
    background-color: transparent;
    color: orangered;
}

.submit {
    &__btn{
        font-family: $source-sans-pro;
        margin: 30px 0px 0px;
        padding: 10px 30px;
        background-color: black;
        color: white;
        border-radius: 2px;
        &:hover {
            background-color: orangered;
            text-decoration: none;
        }
    }
    &__alert{
        border-radius: 2px;
        background-color: greenyellow;
        display: block;
        color: black;
        margin-top: 20px;
    }
    
}